$color-primary-h: 30;
$color-primary-s: 25%;

$color-primary-95: hsl($color-primary-h, $color-primary-s, 95%);
$color-primary-90: hsl($color-primary-h, $color-primary-s, 90%);
$color-primary-75: hsl($color-primary-h, $color-primary-s, 75%);
$color-primary-60: hsl($color-primary-h, $color-primary-s, 60%);
$color-primary-50: hsl($color-primary-h, $color-primary-s, 50%);
$color-primary-40: hsl($color-primary-h, $color-primary-s, 40%);
$color-primary-30: hsl($color-primary-h, $color-primary-s, 30%);
$color-primary-20: hsl($color-primary-h, $color-primary-s, 20%);
$color-primary-12-5: hsl($color-primary-h, $color-primary-s, 12.5%);
$color-primary-10: hsl($color-primary-h, $color-primary-s, 10%);
$color-primary-5: hsl($color-primary-h, $color-primary-s, 5%);

$color-success: hsl(120, 37.5%, 25%);
$color-error: hsl(0, 37.5%, 25%);

$color-mono-100: hsl($color-primary-h, 0%, 100%);
$color-mono-90: hsl($color-primary-h, 0%, 90%);
$color-mono-80: hsl($color-primary-h, 0%, 80%);
$color-mono-70: hsl($color-primary-h, 0%, 70%);
$color-mono-60: hsl($color-primary-h, 0%, 60%);
$color-mono-50: hsl($color-primary-h, 0%, 50%);
$color-mono-40: hsl($color-primary-h, 0%, 40%);
$color-mono-30: hsl($color-primary-h, 0%, 30%);
$color-mono-20: hsl($color-primary-h, 0%, 20%);
$color-mono-10: hsl($color-primary-h, 0%, 10%);
$color-mono-0: hsl($color-primary-h, 0%, 0%);
